:root {
  --main-colour: #4654ee;
}

/* nav */

nav {
  background: var(--main-colour);
}

nav ul {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 36px;
  list-style: none;
}
nav ul li:not(:first-child) {
  margin-left: 46px;
}
a {
  color: rgb(183, 212, 249);
  text-decoration: none;
}
.active {
  font-weight: bold;
  color: white;
}
