* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --main-colour: #4654ee;
  --footer-colour: #313aa3;
}

ul {
  list-style: none;
}
/* nav */
nav {
  background: var(--main-colour);
}

nav ul {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 36px;
}
nav ul li:not(:first-child) {
  margin-left: 46px;
}
a {
  color: rgb(183, 212, 249);
  text-decoration: none;
  font-size: 1.3rem;
}
.active {
  font-weight: bold;
  color: white;
}

/* footer */
.footer ul {
  display: flex;
  justify-content: center; /* Center the items horizontally within the footer */
  align-items: center; /* Center the items vertically within the footer */
  padding: 20px;
}

.footer-container {
  position: fixed;
  margin: auto;
  padding: 1%;
  bottom: 0;
  width: 100%;
  background-color: var(--footer-colour);
  color: white;
  text-align: center;
  z-index: 1;
}

.footer-container a {
  font-size: 1.2rem;
}

.footer-item {
  margin: 20px;
}
